<div class="navbar d-flex">
    <img src="https://logowik.com/content/uploads/images/blue-chef-hat1380.logowik.com.webp", alt="logo">
    
    <div class="menu">
        <div class="btn btn-info"><%= link_to "Home", categories_path %></div>
        <div class="btn btn-info"><%= link_to "New Category", new_category_path %></div>
    </div>
</div>