.navbar {
  justify-content: space-between;
  background: white;
  padding: 5px 20px; 
  img {
    width: 60px;
  }
  img, .menu {
    margin: 5px 10px;
  }
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
