<div class="form-new mt-5">
    <h1> Create Category </h1>

    <%= simple_form_for @category do |f| %>
        <%= f.input :name, placeholder: "The Category name..." %>
        <div class="bottom">
            <%= link_to "Return to Categories", categories_path, class: "btn btn-info"%>
            <%= f.submit "Add Recipe", class: "btn btn-info"%>
        </div>
    <% end %>

    
</div>